.schedule {
  display: flex;
  overflow: auto;

  margin: 2rem 0% 2% 2rem;
  padding: 0 1rem;
  width: 80%;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
  font-weight: 700;
  font-size: 1.1rem;
}

.schedule::-webkit-scrollbar {
  width: 10px;
  flex: 0 0 auto;
}
.schedule::-webkit-scrollbar-thumb {
  background-color: var(--main-black);
  border-radius: 10px;
}
.schedule::-webkit-scrollbar-track {
  background-color: grey;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}

.schedule .column-line {
  width: 100%;
  min-width: 60px;
}
.schedule .worktimes div:nth-child(2n) {
  border-bottom: 1px solid rgb(167, 167, 167, 0.2);
}

.schedule .time {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.schedule .worktimes {
  border-right: 1px solid rgb(167, 167, 167, 0.8);
}

.schedule .worktimes .work {
  /* background: var(--main-color); */
  margin-left: -1px;
  margin-right: -1px;
  font-size: 1rem;
}

.schedule .first-row-line {
  height: 50px;
  padding-top: 2rem;

  text-align: center;
  position: sticky;
  top: 0;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid rgb(167, 167, 167);
}
