.Emaildone {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 9rem;
}

.Emaildone .smile {
  font-size: 20rem;
}

.Emaildone .loading {
  margin-top: 2rem;
}
