@import url(reset.css);
@import url(./Main.css);

.Header {
  margin-top: 30px;

  font-family: "Jua", sans-serif;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.Header .left {
  font-size: 50px;
  margin-left: 5%;
}

.Header .right {
  font-size: 25px;
  margin-right: 5%;
}
