<!DOCTYPE html>
<html lang = "ko" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset = "utf-8">
		<title>Main</title>
	</head>
	<body>
		<h1>인덱스 페이지!!!!</h1>
		<div th:replace="fragment/layout.html :: fragment-body-menu"></div>
		<form method="post" action="/api/userLogin">
			<button type="submit">버튼</button>
		</form>
		<div>
		<a href="/newproject">새 프로젝트</a>
		||
		<a href="/joinProject">참여하기</a>
		||
		<a href="/oldproject">기존 프롲게트</a>
		||
		<a href="/project">프로젝트 선택 시</a>
		||
		<a href="/outProject">프로젝트 나가기</a>
		||
		<a href="/makeC">캘린더 강제로 만들기</a>
		||
		<a href="/code">캘린터 API</a>
		</div>
		<div>
		<a href="/setwork">일할 날짜 선택</a>
		||
		<a href="/comment">커멘트 추가</a>
		</div>
		
		

	</body>
</html>