<!DOCTYPE html>
<html lang = "ko" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset = "utf-8">
		<title>비밀번호 초기화</title>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
		<script>
			$('document').ready(function(){
				$('form').on('submit', function(){
					var password = $(this).find('input[name=password]').val();
					var repassword = $(this).find('input[name=rePassword]').val();
					
					if(password != repassword){
						alert("오류");
						return false;
					}
				});
			})
		</script>
	</head>
	<body>
		<h1>비밀번호 초기화</h1>
		<div th:replace="fragment/layout.html :: fragment-body-menu"></div>
		<div th:if="${result eq true}">
		<form method="post">
			<div>
				<input type="password" name="password" placeholder="새 비밀번호" required/>
			</div>
			<div>
				<input type="password" name="rePassword" placeholder="비밀번호 확인" required/>
			</div>
			<div>
				<button type="submit">변경하기</button>
			</div>
		</form>
		</div>
		<div th:if="${result eq false}">
			<div>
				<p>입력 값이 유효하지 않습니다.</p>
				<div><a href="/">메인</a>으로 이동하기</div>
			</div>
		</div>
		
	</body>
</html>