<!DOCTYPE html>
<html lang = "ko" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset = "utf-8">
		<title>작업 시간 설정</title>
	</head>
	<body>
		<h1>작업시간 설정</h1>
		<div th:replace="fragment/layout.html :: fragment-body-menu"></div>
		<div>
			예시 : MONDAY || TUESDAY || WEDNESDAY || THURSDAY || FRIDAY || SATURDAY || SUNDAY
		</div>
		<form method="post">
			<div>
				<input type="text" name="day" placeholder="요일" required/> 
			</div>
			<div>
				<button type="submit">생성</button>
			</div>
		</form>
	</body>
</html>