@import url(./Main.css);
.MkProject {
  padding-top: 5%;
  padding-bottom: 5%;
  margin-top: 5%;
  display: flex;
  align-items: center;
  background: #eee linear-gradient(to right, #82f9b7 10%, #fff 70%);
  margin-bottom: 100rem;

  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4),
      rgba(200, 200, 200, 0.3)
    ),
    url("../img/background-img.jpg");
  background-size: cover;
}
.MkProject .description {
  width: 40%;
  margin-left: 15%;
  font-size: 2rem;
  line-height: 5rem;
  border-radius: 5%;
  color: #eee;
}

.logo-title {
  width: 370px;
  height: 88px;
  background-image: url("./components/logo2.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.MkProject .description .highlite {
  color: var(--main-color);
  font-size: 5rem;
  font-weight: 500;
}

.MkProject .project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  width: 300px;
  height: 300px;
  padding: 10px;
}

.MkProject .project .btn--new {
  border: 1px solid var(--main-color);
  color: #fff;
  background: var(--main-color)
    linear-gradient(var(--main-color), var(--main-color));
  border-radius: 99px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 25%;
  font-size: 1.2rem;
  font-weight: 700;
}

.MkProject .project .btn--old {
  border: 1px solid var(--main-color);
  color: var(--main-color);
  background: var(--main-color) linear-gradient(#fff, #fff);
  border-radius: 99px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 25%;
  margin-top: 10%;
  font-size: 1.2rem;
  font-weight: 700;
}

.MkProject .project .btn--join {
  border: 1px solid var(--main-color);
  color: #fff;
  background: var(--main-color);
  border-radius: 99px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 25%;
  margin-top: 10%;
  font-size: 1.2rem;
  font-weight: 700;
}
