<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zerobase.fastlms.course.mapper.TakeCourseMapper">
	<sql id="selectListWhere">
		
	</sql>

  <select  id="selectListCount"
  			parameterType="com.zerobase.fastlms.course.model.TakeCourseParam" 
  			resultType="long">
  	select count(*)
    from take_course
    
    where 1=1
    <include refid="selectListWhere"></include>
  
  </select>
  
  <select id="selectList"
  			parameterType="com.zerobase.fastlms.course.model.TakeCourseParam" 
  			resultType="com.zerobase.fastlms.course.dto.TakeCourseDto">
    SELECT tc.*
		, c.subject
		, m.user_name
		, m.phone
	FROM take_course tc
		JOIN course c ON tc.course_id = c.id
		JOIN member m ON tc.user_id = m.user_id 
    where 1=1
    	<include refid="selectListWhere"></include>
    order by reg_dt desc
    limit #{pageStart}, #{pageEnd}
  </select>
</mapper>