.calendar {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #fff;
  width: 70%;
  margin: 10% auto;
  border: 1px solid #ddd;
  border-radius: 15px;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
}

.calendar:hover {
  border: 1px solid var(--main-color);
}

.calendar .control {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-weight: 700;
}

.calendar .control .btn-calendar {
  background: var(--main-color);
  color: #fff;
  font-size: 1.2rem;
  border-radius: 99px;
}

.calendar .control .btn-calendar:hover {
  background: #fff;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  transition: 0.5s;
}
.calendar .control .btn-beforeMonth {
  margin-right: 0.5rem;
}
.calendar .control .btn-afterMonth {
  margin-left: 0.5rem;
}

.calendar .calendarBody {
  margin: 2rem;
}

.calendar .calendarDays {
  display: flex;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.calendar .calendarDays .calendarDayofWeek {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1%;
  padding-bottom: 1%;
  width: 100%;
  height: 2rem;
  font-size: 1.3rem;
  font-weight: 700;
}

.calendar .calendarDays .sunday {
  color: #eb0000;
}
.calendar .calendarDays .saturday {
  color: #3232ff;
}

.calendar .calendarWeek {
  display: flex;
  width: 90%;
  margin: 0 auto;
}

.calendar .calendarDay {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 5rem;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 99px;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.calendar .calendarDay:nth-child(7) {
  margin-right: 0;
}

.calendar .calendarDay:hover {
  background: var(--main-color);
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
}
