@import url(../reset.css);
@import url(../Main.css);

.Header {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  background-color: white;

  margin-bottom: 5%;
}

.Header .left {
  font-size: 50px;
  margin-left: 5%;
}

.Header .right {
  font-size: 25px;
  margin-right: 5%;
}
