<!DOCTYPE html>
<html lang = "ko" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset = "utf-8">
		<title>강좌 - 등록 페이지</title>
		<style>
			.detail table {
				width : 100%;
			}
			.detail table th, .detail table td{
				border: solid 1px #000;
				text-align : center;
				font-weight : bold;
				
			}
			.detail table th {
				width : 20%;
			}
			.button {
				margin-top : 20px;
				text-align : center;
			}
		</style>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
		<script>
			$(document).ready(function(){
				$('#submitForm').on('submit', function(){
					oEditors.getById["contents"].exec("UPDATE_CONTENTS_FIELD", []);
				});
			})
		</script>
	</head>
	<body>
		<h1>강좌 등록 페이지!!!!</h1>
		<div th:replace="fragment/layout.html :: fragment-body-menu"></div>
		
		<div class="detail">
			<form id="submitForm" method="post">
				<table>
					<tbody>
						<tr>
							<th>강좌 카테고리</th>
							<td>
								<select name="categoryId" required>
									<option value="">카테고리 선택</option>
									<option th:selected="${detail.categoryId}"
									th:each="list : ${category}" th:value="${list.id}" th:text="${list.categoryName}">기획</optoin>
								</select>
							</td>
						</tr>
						<tr>
							<th>강좌명</th>
							<td>
								<input type="text" th:value="${detail.subject}" name="subject" placeholder="강좌명 입력" required/>
							</td>
						</tr>
						<tr>
							<th>키워드</th>
							<td>
								<input type="text" th:value="${detail.keyword}" name="keyword" placeholder="키워드 입력" required/>
							</td>
						</tr>
						<tr>
							<th>요약 문구</th>
							<td>
								<textarea th:text="${detail.summary}"  name="summary" placeholder="요약 입력" required></textarea>
							</td>
						</tr>
						<tr>
							<th>내용</th>
							<td>
								<textarea th:text="${detail.contents}" id="contents" name="contents" placeholder="내용 입력"></textarea>
							</td>
						</tr>
						<tr>
							<th>정가</th>
							<td>
								<input type="text" th:value="${detail.price}" name="price" placeholder="가격 입력" required/>
							</td>
						</tr>
						<tr>
							<th>판매가</th>
							<td>
								<input type="text" th:value="${detail.salePrice}" name="salePrice" placeholder="할인가 입력" required/>
							</td>
						</tr>
						<tr>
							<th>할인 종료일</th>
							<td>
								<input type="text" th:value="${detail.saleEndDt}" name="saleEndDtText" placeholder="할인 종료일" required/>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="button">
					<button th:if="${editMode eq true}" type="submit">강좌 수정 하기</button>
					<button th:if="${editMode eq false}" type="submit">강좌 등록 하기</button>
					<a href="/admin/course/list.do">강좌 목록 이동</a>
				</div>
			</form>
		</div>
		<script type="text/javascript" src="/res/se2/js/service/HuskyEZCreator.js" charset="utf-8"></script>
		<script type="text/javascript">
var oEditors = [];
nhn.husky.EZCreator.createInIFrame({
 oAppRef: oEditors,
 elPlaceHolder: "contents",
 sSkinURI: "/res/se2/SmartEditor2Skin.html",
 fCreator: "createSEditor2"
});
</script>
	</body>
</html>