<!DOCTYPE html>
<html lang = "ko" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset = "utf-8">
		<title>프로젝트 나가기</title>
	</head>
	<body>
		<h1>프로젝트 폼</h1>
		<div th:replace="fragment/layout.html :: fragment-body-menu"></div>
		
		<form method="post">
			<div>
				<input type="text" name="targetId" placeholder="타켓 멤버 명" required/> 
				<input type="text" name="joinId" placeholder="멤버 프로젝트 명" required/> 
			</div>
			<div>
				<button type="submit">생성</button>
			</div>
		</form>
	</body>
</html>