<!DOCTYPE html>
<html lang = "ko" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset = "utf-8">
		<title>관리자 회원 상세  페이지</title>
		<style>
			
			.detail table th, .detail table td{
				border: solid 1px #000;
				text-align : center;
				font-weight : bold;
				
			}
			.detail table th {
				width : 30%;
			}
		</style>
	</head>
	<body>
		<h1>회원 상세 페이지!!!!</h1>
		<div th:replace="fragment/layout.html :: fragment-body-menu"></div>
		
		<div class="detail">
			<table>
				<tbody>
					<tr>
						<th>아이디</th>
						<td th:text=${member.userId}>유저 이메일</td>
					</tr>
					<tr>
						<th>이름</th>
						<td th:text="${member.userName}">유저 이름</td>
					</tr>
					<tr>
						<th>핸드폰 번호</th>
						<td th:text="${member.phone}">폰 번호</td>
					</tr>
					<tr>
						<th>이메일 인증 여부</th>
						<td>
							<p th:if="${member.emailAuthYn eq true}">Y</p>
							<p th:if="${member.emailAuthYn eq false}">N</p>
						</td>
					</tr>
					<tr>
						<th>이메일 인증 시간</th>
						<td th:text="${member.emailAuthDt}">이메일 인증 시간</td>
					</tr>
					<tr>
						<th>이메일 인증 키</th>
						<td th:text="${member.emailAuthKey}">이메일 키</td>
					</tr>
					<tr>
						<th>관리자 여부</th>
						<td>
							<p th:if="${member.adminYn eq true}">Y</p>
							<p th:if="${member.adminYn eq false}">N</p>
						</td>
					</tr>
					<tr>
						<th>사용자 상태</th>
						<td>
							<p>
								현재 상태 : <span th:text="${member.userState}">오류</span>
							</p>
								<form method="post" action="/admin/member/status.do">
									<input type="hidden" name="userId" th:value="${member.userId}">
									<select name="userStatus">
										<option value="YET">이메일 승인 전</option>
										<option value="ING">사용중 </option>
										<option value="BLACK">블랙리스트</option>
									</select>
									<button type="submit">상태변경</button>							
								</form>
						</td>
					</tr>
					<tr>
						<th>비밀번호 초기화</th>
						<td>
							<form method="post" action="/admin/member/password.do">
								<input type="hidden" name="userId" th:value="${member.userId}">
								<button type="submit">비밀번호 초기화 이메일</button>							
							</form>
						</td>
					</tr>
						
						
				</tbody>
			</table>
			<div><a href="/admin/member/list.do">멤버 목록</a></div>
		</div>
	</body>
</html>